name: CI

env:
  CI: true
  MAINNET_RPC_URL: ${{ secrets.MAINNET_RPC_URL }}

on:
  push:
    branches:
      - main
  pull_request:
    branches: ['*', '**/*']

jobs:
#  lint:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v3
#      - name: Set up environment
#        uses: ./.github/actions/setup
#      - name: Lint
#        run: yarn lint
#
#  build:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v3
#      - name: Set up environment
#        uses: ./.github/actions/setup
#      - name: Build
#        run: yarn build
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#
#  test-forge-vault:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v3
#      - name: Set up environment
#        uses: ./.github/actions/setup
#      - name: Compile
#        run: yarn build
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#          FORGE_SNAPSHOT_CHECK: true
#      - name: Test
#        run: yarn workspace @balancer-labs/v3-vault test:forge
#
#  test-fork-vault:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v3
#      - name: Set up environment
#        uses: ./.github/actions/setup
#      - name: Compile
#        run: yarn build
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#          FORGE_SNAPSHOT_CHECK: false
#      - name: Fork Test
#        run: yarn workspace @balancer-labs/v3-vault test:fork
#
#  test-hardhat-vault:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v3
#      - name: Set up environment
#        uses: ./.github/actions/setup
#      - name: Compile
#        run: yarn build
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#      - name: Test
#        run: yarn workspace @balancer-labs/v3-vault test:hardhat
#
#  test-hardhat-solidity-utils:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v3
#      - name: Set up environment
#        uses: ./.github/actions/setup
#      - name: Compile
#        run: yarn build
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#      - name: Test
#        run: yarn workspace @balancer-labs/v3-solidity-utils test:hardhat
#
#  test-forge-solidity-utils:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v3
#      - name: Set up environment
#        uses: ./.github/actions/setup
#      - name: Compile
#        run: yarn build
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#          FORGE_SNAPSHOT_CHECK: true
#      - name: Test
#        run: yarn workspace @balancer-labs/v3-solidity-utils test:forge

  test-hardhat-pool-weighted:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Compile
        run: yarn build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Test
        run: yarn workspace @balancer-labs/v3-pool-weighted test:hardhat

#  test-forge-pool-weighted:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v3
#      - name: Set up environment
#        uses: ./.github/actions/setup
#      - name: Compile
#        run: yarn build
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#          FORGE_SNAPSHOT_CHECK: true
#      - name: Test
#        run: yarn workspace @balancer-labs/v3-pool-weighted test:forge
